<div class="grid grid-cols-5 gap-8 px-8">
  <div class="bg-slate-200 rounded-lg py-8 h-40 flex items-center justify-center"><p>Atualização Cadastral</p></div>
  <div class="bg-slate-200 rounded-lg py-8 h-40 flex items-center justify-center"><p>Nova via de Boleto</p></div>
  <div class="bg-slate-200 rounded-lg py-8 h-40 flex items-center justify-center"><p>Relatórios</p></div>
  
  <%= link_to health_wallets_path do %>
    <div class="bg-slate-200 rounded-lg py-8 h-40 flex items-center justify-center"><p>Nova via de Carteirinha</p></div>
  <% end %>

  <%= link_to settings_path do %>
    <div class="bg-slate-200 rounded-lg py-8 h-40 flex items-center justify-center"><p>Configurações</p></div>
  <% end %>
</div>