<div class="grid grid-cols-4 gap-8 px-8">
  <div class="bg-slate-300 rounded-lg py-8 h-40 flex items-center justify-center"><p>Informações Cadastrais</p></div>
  <div class="bg-slate-300 rounded-lg py-8 h-40 flex items-center justify-center"><p>Serviço ao Associado</p></div>
  <div class="bg-slate-300 rounded-lg py-8 h-40 flex items-center justify-center"><p>Gestão e Estratégia</p></div>
  <div class="bg-slate-300 rounded-lg py-8 h-40 flex items-center justify-center"><p>Ciência de Dados</p></div>
  <div class="bg-slate-200 rounded-lg py-8 h-40 flex items-center justify-center"><p>Relatório Financeiro</p></div>
  <div class="bg-slate-200 rounded-lg py-8 h-40 flex items-center justify-center"><p>Reenviar Boleto</p></div>
  <div class="bg-slate-200 rounded-lg py-8 h-40 flex items-center justify-center"><p>Teleatendimento</p></div>

  <%= link_to settings_path do %>
    <div class="bg-slate-200 rounded-lg py-8 h-40 flex items-center justify-center"><p>Configurações</p></div>
  <% end %>
</div>