<div class="grid grid-cols-5 gap-8">
  <div class="bg-slate-200 rounded-lg py-8 h-40 flex items-center justify-center"><p>Informações Cadastrais</p></div>
  <div class="bg-slate-200 rounded-lg py-8 h-40 flex items-center justify-center"><p>Serviço ao Associado</p></div>
  <div class="bg-slate-200 rounded-lg py-8 h-40 flex items-center justify-center"><p>Gestão e Estratégia</p></div>
  <div class="bg-slate-200 rounded-lg py-8 h-40 flex items-center justify-center"><p>Ciência de Dados</p></div>
  
  <%= link_to settings_path do %>
    <div class="bg-slate-200 rounded-lg py-8 h-40 flex items-center justify-center"><p>Configurações</p></div>
  <% end %>
</div>