<h1>Editing authorization request</h1>

<%= render "form", authorization_request: @authorization_request %>

<br>

<div>
  <%= link_to "Show this authorization request", @authorization_request %> |
  <%= link_to "Back to authorization requests", authorization_requests_path %>
</div>
