<h1>New authorization request</h1>

<%= render "form", authorization_request: @authorization_request %>

<br>

<div>
  <%= link_to "Back to authorization requests", authorization_requests_path %>
</div>
